* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* Colors */
    --main-color: oklch(0.6762 0.213 18.84);
    --title-color: oklch(0.282 0.1908 266.51);
    --text-color: oklch(0.4907 0.0556 286.77);
    --body-color: oklch(0.9794 0.0082 301.36);
    --container-color: oklch(1 0 0);
    --border-color: oklch(0 0 0 / 5%);

    /* Shape Colors */
    --shape-color-red: oklch(0.6955 0.1964 17.38);
    --shape-color-yellow: oklch(0.9592 0.1728 107.13);
    --shape-color-blue: oklch(0.796 0.125 232.3);
    --shape-color-brown: oklch(0.6719 0.0404 10.02);
    --shape-color-gray: oklch(0.5716 0.0171 229.17);

    /* Font-sizes */
    --font-size-small: clamp(0.8rem, 0.7rem + 0.5vw, 1rem);
    --font-size-regular: clamp(1rem, 0.9rem + 0.5vw, 1.25rem);
    --font-size-big: clamp(1.5rem, 1.4rem + 0.5vw, 2rem);
    --font-size-extralarge: clamp(2rem, 1.8rem + 1vw, 3rem);

    /* Spacign */
    --spacing-xs: clamp(0.5rem, 0.4rem + 0.5vw, 0.75rem);
    --spacing-small: clamp(0.75rem, 0.65rem + 0.5vw, 1rem);
    --spacing-medium: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
    --spacing-big: clamp(1.5rem, 1.4rem + 0.5vw, 2.5rem);
    --spacing-bigger: clamp(2rem, 1.8rem + 1vw, 4rem);

    /* border */
    --border-color: rgba(0, 0, 0, .05);

    /* Angle */
    --baxis-angle: -15deg;
}

html {
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    padding: 4.5rem;
    background-color: var(--body-color);
}

/* Section Main */

.Main {
    display: none;
    /* Men at work */
    width: 100%;
    height: 100vh;
}

.Main-shapes {
    container-type: inline-size;
    container-name: main;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
}

.Absolute {
    position: absolute;
}

.Shape-item-1 {
    width: 16rem;
    top: 60%;
    left: 15%;
}

.Shape-item-2 {
    width: 8rem;
    top: 20%;
    right: 20%;
}

.Shape-item-3 {
    width: 6rem;
    top: 10%;
    left: 30%;
}

.Shape-item-4 {
    width: 8rem;
    bottom: 15%;
    right: 30%;
}

.Shape-item-5 {
    width: 6rem;
    top: 30%;
    left: 10%;
}

.Shape-item-6 {
    width: 4rem;
    top: 8%;
    right: 35%;
}

.Shape-item-7 {
    width: 8rem;
    bottom: 15%;
    left: calc(50% - 6rem);
}

.Shape-item-8 {
    width: 8rem;
    top: 4%;
    left: 12%;
}

.Shape-item-9 {
    width: 16rem;
    bottom: 35%;
    right: 5%;
}

.Shape-item-10 {
    width: 6rem;
    bottom: 10%;
    left: 15%;
}

.Main-logo_container {
    width: 100%;
    max-width: 15rem;
    margin: 20rem auto 0;
    border-radius: 100%;
    border: 2px solid var(--border-color);
}

.Main .Main-logo {
    max-width: 25rem;
    border-radius: 100%;
    width: 100%;
    display: block;
}

.Main-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: var(--spacing-big) 0 var(--spacing-medium) 0;
    gap: var(--spacing-small);
}

.Main-info h1 {
    font-size: var(--font-size-extralarge);
    color: var(--title-color);
}

.Main-info h3 {
    font-size: var(--font-size-big);
    color: var(--text-color);
    font-weight: 400;
}

.Main-social_media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-small);
    width: 100%;
    height: auto;

}

.Main-social_media a {
    display: inline-flex;
    transition: transform 0.5s;
}

.Main-social_media a img {
    width: 100%;
    max-width: 2.6rem;
    height: 100%;
}

.Main-social_media a img:hover {
    transform: scale(1.3);
    transition: transform 0.4s;
    cursor: pointer;
}

.Contact-btn {
    display: block;
    margin: var(--spacing-big) auto 0;
    padding: var(--spacing-small) var(--spacing-medium);
    width: 18rem;
    height: 5.2rem;
    background-color: var(--main-color);
    color: var(--body-color);
    font-size: var(--font-size-big);
    font-weight: bold;
    border-radius: 20rem;
    border: 2px solid var(--border-color);
    transition: background-color 0.3s;
}

.Contact-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* About Me Section */

.About-me {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
}

.About-me_title {
    font-size: var(--font-size-big);
    color: var(--title-color);
    padding: 5rem;
}

.About-me_description {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: var(--spacing-big)
}

.About-me_description a {
    position: relative;
    display: inline-block;
}

.About-me_description a::after,
.About-me_description a::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 49%;
    width: 12rem;
    height: 12rem;
    padding: .5rem;
    background-image: conic-gradient(from var(--baxis-angle) at 50% 50%, var(--shape-color-red), var(--shape-color-yellow), var(--shape-color-blue), var(--shape-color-brown), var(--shape-color-gray), var(--shape-color-red));
    border-radius: 100%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.About-me_description a::before {
    filter: blur(1.5rem);
    animation: spin 4s linear infinite;

}

.About-me_description a img {
    max-width: 12rem;
    border-radius: 100%;

}

.About-me_container {
    max-width: 90rem;
    max-height: 75rem;
    text-align: justify;
    padding: 8rem 12rem;
    font-size: var(--font-size-extralarge);
    font-weight: 500;
    color: var(--text-color);
    border-radius: 2rem;
    background-color: var(--container-color);
}

.About-me_container pre {
    font-family: "Noto Sans", sans-serif;
}

/* Section Info */

.Container-styles {
    display: flex;
    color: var(--text-color);
    background-color: var(--main-color);
    border: 2px solid var(--border-color);
    border-radius: 1.2rem;
}

.Item {
    background-color: var(--container-color);
    padding: var(--spacing-medium);
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: row;
    gap: 2%;
    flex-wrap: wrap;
    background-color: var(--body-color);
}

.Item:nth-child(1),
.Item:nth-child(5),
.Item:nth-child(7) {
    height: 32%;
    width: 40%;
}

.Item:nth-child(2),
.Item:nth-child(8) {
    height: 32%;
    width: 30%;
}

.Item:nth-child(3),
.Item:nth-child(6),
.Item:nth-child(9) {
    height: 32%;
    flex-grow: 1;
}

.Item:nth-child(4) {
    height: 32%;
    width: 25%;
}

/* Properties */

/* Probar esto */

/* @property --baxis-angle { Probar esto 
    syntax: "<angle>";
    initial-value: -15deg;
    inherits: false;
} */

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* Queries */

@container main (max-width: 768px) {

    .Shape-item-1 {
        width: 12rem;
        left: 7%;
    }

    .Shape-item-2 {
        width: 6rem;
    }

    .Shape-item-3 {
        width: 4rem;
    }

    .Shape-item-4 {
        width: 6rem;
    }

    .Shape-item-5 {
        width: 4rem;
    }

    .Shape-item-6 {
        width: 3rem;
    }

    .Shape-item-7 {
        width: 6rem;
    }

    .Shape-item-8 {
        width: 6rem;
    }

    .Shape-item-9 {
        width: 12rem;
    }

    .Shape-item-10 {
        width: 4rem;
    }
}

@container main (max-width: 510px) {
    .Shape-item-1 {
        display: none;
    }

    .Shape-item-2 {
        top: 10%;
        right: 10%;
    }

    .Shape-item-3 {
        left: calc(50% - 2rem);
    }

    .Shape-item-4 {
        width: 4rem;
        right: 15%;
    }

    .Shape-item-5 {
        left: 15%;
    }

    .Shape-item-6 {
        display: none;
    }

    .Shape-item-8 {
        display: none;
    }

    .Shape-item-9 {
        display: none;
    }

    .Shape-item-10 {
        display: none;
    }
}